* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #f2f2f2;
  padding: 40px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.flex-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap; /* Responsive */
}

.card {
  width: 200px;
  height: 150px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

